div#characterSheet {
  margin: 15px;
}

div.rb-remaining-card {
  display: inline-block;
}

div#metatypegroup > div {
  margin-right: 15px;
}

div.attrInput input.bp3-input {
  width: 50px;
}

div.rb-priority-selector {
  width: 125px;
  display: inline-block;
}

div.rb-priority-description-container {
  display: inline-block;
  width: 300px;
}

div.rb-priority-description-container div.bp3-button,
div.rb-priority-description-container div.bp3-button:hover,
div.rb-priority-description-container div.bp3-button:active {
  width: 300px;
  justify-content: left;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: unset;
  background-image: none;
  background: transparent;
  box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2), inset 0 -1px 0 rgba(16, 22, 26, 0.1);
}

div.rb-priority-selector div.bp3-button {
  width: 125px;
  cursor: move;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  justify-content: left;
}

span.rb-source-link {
  cursor: pointer;
}
